.text-justify-xs {text-align: justify;}
.text-left-xs {text-align: left;}
.text-right-xs {text-align: right;}
.text-center-xs {text-align: center;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {text-align: justify;}
    .text-left-sm {text-align: left;}
    .text-right-sm {text-align: right;}
    .text-center-sm {text-align: center;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {text-align: justify;}
    .text-left-md {text-align: left;}
    .text-right-md {text-align: right;}
    .text-center-md {text-align: center;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {text-align: justify;}
    .text-left-lg {text-align: left;}
    .text-right-lg {text-align: right;}
    .text-center-lg {text-align: center;}
}